<div class="row container m-2 mt-4">
  <h4>Comments</h4>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque totam hic
  rerum eligendi voluptatem ducimus exercitationem beatae earum ipsum, expedita
  sequi dolores neque sunt assumenda labore iusto consequatur, ab laboriosam!
</div>