  <div class="dropdown w-25">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Platform
    </button>
    <form class="dropdown-menu p-4">
      <div class="mb-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="34" />
          <label class="form-check-label" for="dropdownCheck2">
            Android
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="23" />
          <label class="form-check-label" for="dropdownCheck2">
            Dreamcast
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="33" />
          <label class="form-check-label" for="dropdownCheck2">
            Game Boy
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="24" />
          <label class="form-check-label" for="dropdownCheck2">
            Game Boy Advance
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="22" />
          <label class="form-check-label" for="dropdownCheck2">
            Game Boy Color
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="39" />
          <label class="form-check-label" for="dropdownCheck2">
            iOS
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="3" />
          <label class="form-check-label" for="dropdownCheck2">
            Linux
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="14" />
          <label class="form-check-label" for="dropdownCheck2">
            Mac
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="137" />
          <label class="form-check-label" for="dropdownCheck2">
            New Nintendo 3DS
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="37" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo 3DS
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="4" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo 64
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="20" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo DS
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="159" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo DSi
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="18" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo Entertainment System (NES)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="21" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo GameCube
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="130" />
          <label class="form-check-label" for="dropdownCheck2">
            Nintendo Switch
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="6" />
          <label class="form-check-label" for="dropdownCheck2">
            PC (Windows)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="7" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="8" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation 2
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="9" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation 3
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="48" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation 4
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="167" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation 5
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="38" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation Portable
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="46" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation Vita
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="165" />
          <label class="form-check-label" for="dropdownCheck2">
            PlayStation VR
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="64" />
          <label class="form-check-label" for="dropdownCheck2">
            Sega Master System
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="29" />
          <label class="form-check-label" for="dropdownCheck2">
            Sega Mega Drive/Genesis
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="339" />
          <label class="form-check-label" for="dropdownCheck2">
            Sega Pico
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="32" />
          <label class="form-check-label" for="dropdownCheck2">
            Sega Saturn
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="34" />
          <label class="form-check-label" for="dropdownCheck2">
            Super Nintendo Entertainment System (SNES)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="5" />
          <label class="form-check-label" for="dropdownCheck2">
            Wii
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="41" />
          <label class="form-check-label" for="dropdownCheck2">
            Wii U
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="11" />
          <label class="form-check-label" for="dropdownCheck2">
            Xbox
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="32" />
          <label class="form-check-label" for="dropdownCheck2">
            Xbox 360
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="49" />
          <label class="form-check-label" for="dropdownCheck2">
            Xbox One
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="169" />
          <label class="form-check-label" for="dropdownCheck2">
            Xbox Series
          </label>
        </div>

        
        </div>
      
  </div>

  {{!-- <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Genre
    </button>
    <form class="dropdown-menu p-4">
      <div class="mb-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            Platform
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            Horror
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            Sim Racing
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            Puzzle
          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Rating
    </button>
    <form class="dropdown-menu p-4">
      <div class="mb-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            Over 80%
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            60% - 80%
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            40% - 60%
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            20% - 40%
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
          <label class="form-check-label" for="dropdownCheck2">
            Under 20%
          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Release Dates
    </button>
    <form class="dropdown-menu p-4">
      <div>From:</div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleDropdownFormEmail2"
          placeholder="Enter Year"
        />
      </div>
      <div>To:</div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleDropdownFormEmail2"
          placeholder="Enter Year"
        />
      </div>
    </form>
  </div> --}}
