<div class="col-lg-2 col-sm-12 d-flex justify-content-center">
  <div class="text-center d-flex flex-lg-column flex-md-row mt-2">
    <div class="mx-2 my-4">
      <a href="#">
        <i class="fas fa-sign-in-alt fa-3x" style="color: #00793e"></i>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="#"><i class="fas fa-home fa-3x" style="color: #00793e"></i></a>
    </div>

    <div class="mx-2 my-4">
      <a href="#">
        <i class="fas fa-gamepad fa-3x" style="color: #00793e"></i>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="#"><i class="fas fa-users fa-3x" style="color: #00793e"></i></a>
    </div>
    <div class="mx-2 my-4">
      <a href="#"><i class="fab fa-steam fa-3x" style="color: #00793e"></i></a>
    </div>
  </div>
</div>