<div class="col-lg-2 col-sm-12 d-flex justify-content-center">
  <div class="text-center d-flex flex-lg-column flex-md-row mt-2">
    <div class="mx-2 my-4">
      <a href="/">
        <i class="fas fa-home fa-3x" title="Home"></i>
        <div>Home</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/user-profile"><i
          class="fas fa-user fa-3x"
          title="User Profile"
        ></i>
        <div>Profile</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/user-games">
        <i class="fas fa-gamepad fa-3x" title="My Games"></i>
        <div>My Games</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/followers"><i
          class="fas fa-users fa-3x"
          title="My Followers"
        ></i><div>Followers</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/team">
        <i class="fas fa-sitemap fa-3x" title="Meet The Team"></i>
        <div>Team</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a id="sign-out-btn"><i
          class="fas fa-sign-out-alt fa-3x"
          title="Log Out"
        ></i>
        <div>Log Out</div>
      </a>
    </div>

  </div>
</div>