<div class="col-lg-2 col-sm-12 d-flex justify-content-center">
  <div class="text-center d-flex flex-lg-column flex-md-row mt-2">
    <div class="mx-2 my-4">
      <a href="/">
        <i class="fas fa-home fa-3x hover-image" title="Home"></i>
        <div>Home</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/login">
        <i class="fas fa-sign-in-alt fa-3x" title="Log In"></i>
        <div>Log In</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/signup">
        <i class="fas fa-user-plus fa-3x" title="Sign Up"></i>
        <div>Sign Up</div>
      </a>
    </div>

    <div class="mx-2 my-4">
      <a href="/team">
        <i class="fas fa-sitemap fa-3x" title="Meet The Team"></i>
        <div>Team</div>
      </a>
    </div>

  </div>
</div>