<div class="card mt-3 p-0 text-center" style="width: 21rem">
  <img
    src="../assets/img/341CCFC6-09BB-4267-8556-D000BF219458.JPG"
    class="card-img-top p-0"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Game Name</h5>
    <p class="card-text">Game Summary</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Platform</li>
    <li class="list-group-item">Rating</li>
    <li class="list-group-item">Release Date</li>
  </ul>
  <div class="card-body">
    <div class="card-text">
      Display Have Played or Want to play (depending on user choice)
    </div>
    <div class="card-text">
      <button class="btn btn-primary">remove from list(either HP or WTP)</button>
    </div>
  </div>
</div>