<div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      {{> private-navbar}}

      <!-- container 2 -->
      <div class="col-lg-10 col-sm-12 mt-5">

        <div class="dropdown text-end">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"  data-bs-toggle="dropdown" aria-expanded="false">
      Choose Your Game
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" data-value="730">Counter Strike GO</a></li>
            <li><a class="dropdown-item" data-value="1038250">Dirt 5</a></li>
            <li><a class="dropdown-item" data-value="570">Dota 2</a></li>
            <li><a class="dropdown-item" data-value="440">Team Fortress 2</a></li>
            <li><a class="dropdown-item" data-value="1172470">Apex Legends</a></li>
            <li><a class="dropdown-item" data-value="578080">PubG</a></li>
            <li><a class="dropdown-item" data-value="271590">GTA V</a></li>
            <li><a class="dropdown-item" data-value="1085660">Destiny 2</a></li>
            <li><a class="dropdown-item" data-value="1091500">Cyberpunk 2077</a></li>
            <li><a class="dropdown-item" data-value="220">Half-Life 2</a></li>
            <li><a class="dropdown-item" data-value="500">Left 4 Dead</a></li>
            <li><a class="dropdown-item" data-value="550">Left 4 Dead 2</a></li>
    </ul>
    </div>

        {{#each data.userFollowers as |follower|}}
        {{> followers-cards}}
        {{/each}}
      </div>
    </div>