<div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      {{> private-navbar}}

      <!-- container 2 -->
      <div class="col-lg-10 col-sm-12">

        {{#each data.userFollowers as |follower|}}
        {{> followers-cards}}
        {{/each}}
      </div>
    </div>