<div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      {{> private-navbar}}

      <!-- container 2 -->
      <div class="col-lg-10 col-sm-12">
        <!-- card 1 -->
        {{> followers-cards}}
        <!-- card 2 -->
        {{> followers-cards}}
        <!-- card 3 -->
        {{> followers-cards}}
        <!-- card 4 -->
        {{> followers-cards}}
      </div>
    </div>