<div class="position-absolute top-50 start-50 translate-middle">
  <form id="submit-login">
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email Address"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
  </form>
  <div class="text-danger fw-bold mx-2 my-3" id="login-alert"></div>
</div>