<h1>Search Results</h1>

<form class="d-flex align-items-center input-group pt-3 w-100" id="searchBtn">
  <input
    type="text"
    class="form-control"
    id="search-form"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="basic-addon2"
  />
  <button
    class="input-group-text btn bg-dark w-25"
    style="color: #ccffbd"
    id="basic-addon2"
  >
    Search
  </button>
</form>