<div class="container-fluid row my-container m-0 p-1">
  <!-- container 1 -->
  {{> private-navbar}}

  <!-- container 2 -->
  <div
    class="col-lg-10 d-flex justify-content-center flex-column col-sm-12"
  >
    <div
      class="container d-flex flex-wrap flex-lg-row flex-sm-column justify-content-around mt-3"
    >
      <h5>Advanced Search:</h5>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Platform
        </button>
        <form class="dropdown-menu p-4">
          <div class="mb-3">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                PS4
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                PS5
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                XBOX
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                PC
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Genre
        </button>
        <form class="dropdown-menu p-4">
          <div class="mb-3">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                Platform
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                Horror
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                Sim Racing
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                Puzzle
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Rating
        </button>
        <form class="dropdown-menu p-4">
          <div class="mb-3">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                Over 80%
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                60% - 80%
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                40% - 60%
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                20% - 40%
              </label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck2"
              />
              <label class="form-check-label" for="dropdownCheck2">
                Under 20%
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Release Dates
        </button>
        <form class="dropdown-menu p-4">
          <div>From:</div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="exampleDropdownFormEmail2"
              placeholder="Enter Year"
            />
          </div>
          <div>To:</div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="exampleDropdownFormEmail2"
              placeholder="Enter Year"
            />
          </div>
        </form>
      </div>
    </div>
    <div
      class="container d-flex flex-wrap flex-lg-row flex-sm-column justify-content-around mt-3"
    >
{{#if results.emptySearch}}
{{> empty-search}}
{{else}}
{{#each results as |result|}}
  {{> game-card}}
{{/each}}
{{/if}}
    </div>
  </div>
</div>