<div class="container-fluid row my-container m-0 p-1">
  <!-- container 1 -->
  {{#if isLoggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
  <!-- container 2 -->
  <div
    class="col-lg-10 d-flex justify-content-center flex-column col-sm-12"
  >
    <div
  class="container d-flex flex-wrap flex-lg-row flex-sm-column justify-content-around mt-3"
>
    <div
      class="container d-flex flex-wrap flex-lg-row flex-sm-column justify-content-around mt-3"
    >
{{#if results.emptySearch}}
{{> empty-search}}
{{else}}
{{#each results as |result|}}
  {{> game-card}}
{{/each}}
{{/if}}
    </div>
  </div>
</div>