<div class="container-fluid row my-container m-0 p-1">
  <!-- container 1 -->
  {{> public-navbar}}

<div class="col-lg-10 text-center col-sm-12">

<div class="w-50 justify-content-center">
  <form class="mt-2"  id="submit-signup">
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="firstName"
        placeholder="First Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="lastName"
        placeholder="Last Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <input
        type="number"
        class="form-control"
        id="steamUsername"
        placeholder="Steam User ID"
      />*
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="aboutMe"
        placeholder="About Me"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email Address"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  <div>* Please make sure that the Steam User ID you are using is the 17 digit number
    that you find on your account page.</div>
  <div class="text-danger fw-bold mx-2 my-3" id="signup-alert"></div>
</div>
</div>