<div class="position-absolute top-50 start-50 translate-middle">
  <form id="submit-signup">
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="firstName"
        placeholder="First Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="lastName"
        placeholder="Last Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="steamUsername"
        placeholder="Steam Username"
      />
    </div>
    <div class="mb-3">
      <input
        type="input"
        class="form-control"
        id="profilePicture"
        placeholder="Choose your profile picture"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email Address"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  <div class="text-danger fw-bold mx-2 my-3" id="signup-alert"></div>
</div>