<div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      {{> public-navbar}}
      <!-- container 2 -->
      <div class="col-lg-10 d-flex justify-content-around flex-wrap col-sm-12">
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>