<div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      {{> private-navbar}}

      <!-- container 2 -->
      <div class="col-lg-8 col-sm-12">
        <!-- profile pic and about me  -->
        <div class="row container m-2 p-2">
          <div class="col col-lg-4 col-md-12">
            <img
              src="../assets/img/profile img.png"
              alt="profile picture"
              width="200px"
              height="auto"
            />
          </div>

          <!-- about me section -->
          <div class="col col-lg-8 col-md-12">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et
            similique, fugit sit maxime voluptates consequuntur odio tempore,
            autem ipsa, veritatis illo assumenda natus harum aut voluptatem.
            Harum vel nam quos.
          </div>
        </div>

<!-- latest user updates -->
        <div class="row container m-2 border border-danger d-flex justify-content-around">
          <!-- Steam Profile Info -->
          <div class="col col-12 row border border-success">
            <div class="col-6 text-center">
              <img src="../assets/img/profile_img.png" alt="steam profile img" width="100px" height="auto">
            </div>
            <div class="col-6 text-center">
              <div><a href="#">View my profile on Steam</a></div>
            </div>
          </div>
          <!-- Recently PLayed Games -->
          <div class="col col-12 row border border-success d-flex justify-content-around">
            
            {{> steam-game-card}}

            {{> steam-game-card}}
            {{> steam-game-card}}
            {{> steam-game-card}}

          </div>
          <!-- steam friends -->
          <div class="col col-12 row border border-success d-flex justify-content-around">
            {{> steam-friend-card}}
            {{> steam-friend-card}}
            {{> steam-friend-card}}
            {{> steam-friend-card}}
            {{> steam-friend-card}}

          </div>
        </div>
      </div>

      <!-- container 3 -->
      <div class="col col-lg-2 col-md-12">
        <h4>Friends List</h4>
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action active text-center"
            aria-current="true"
          >
            friend 1
          </button>
          <button
            type="button"
            class="
              list-group-item list-group-item-action
              text-center text-center
            "
          >
            friend 2
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action text-center"
          >
            friend 3
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action text-center"
          >
            friend 4
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action text-center"
          >
            friend 5
          </button>
        </div>
      </div>
    </div>