<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/style.css" type="text/css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Tudor is awesome</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img class="w-50" src="../assets/img/p1xel.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex w-75 m-2 p-2">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
        <div class="text-center d-flex flex-lg-column flex-md-row mt-2">
          <div class="mx-2 my-4">
            <a href="#">
              <i class="fas fa-home fa-3x hover-image" title="Home"></i>
            </a>
          </div>

          <div class="mx-2 my-4">
            <a href="#">
              <i class="fas fa-sign-in-alt fa-3x" title="Sign In"></i>
            </a>
          </div>

          <div class="mx-2 my-4">
            <a href="#">
              <i class="fas fa-user-plus fa-3x" title="Sign Up"></i>
            </a>
          </div>

          <div class="mx-2 my-4">
            <a href="#">
              <i class="fas fa-sitemap fa-3x" title="Meet The Team"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- container 2 -->
      <div class="col-lg-10 d-flex justify-content-around flex-wrap col-sm-12">
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic_adam.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Adam Arthur</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic_lee.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Lee Farnell</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic_hakel.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Mehmet Hakel Cam</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic_michael.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Michael Crates</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic_kris.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Kris Ivan</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="card mt-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="../assets/img/profile_pic_tudor.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Tudor Tocan</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui
              vitae. Dicta fugit rem ipsum, unde aliquam placeat eos laudantium
              magnam, esse doloremque veritatis consequuntur labore
              exercitationem autem veniam accusamus?
            </p>
            <a href="#" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
