:root {
  --dark-green: #00793e;
  --light-green: #ccffbd;
}

.carousel {
  width: auto;
  max-height: 374px;
  overflow: hidden;
}

.d-block {
  width: 50%;
  height: auto;
  margin: auto;
}

a {
  color: var(--dark-green) !important;
}

a:hover {
  color: var(--light-green) !important;
}
