:root {
  --background: #dddddd;
  --dark-text: #222831;
  --mid-text: #30475e;
  --light-text: #f05454;
  --other: #8bac0f;
}

body {
  background-color: var(--dark-text);
  color: var(--background);
  text-shadow: 1px 1px 1px black;
  font-family: "Nova Square", cursive;
}

.carousel {
  width: auto;
  max-height: 400px;
  overflow: hidden;
}

.d-block {
  height: 400px;
  width: auto;
  border: 3px solid var(--mid-text);
  border-radius: 5px;
}

a {
  color: var(--light-text) !important;
}

a:hover {
  color: var(--background) !important;
}

.carousel-control-prev-icon {
  color: var(--light-text);
}

.carousel-control-next-icon {
  color: var(--light-text);
}

.card-body {
  background-color: var(--mid-text);
}
.list-group-item {
  background-color: var(--mid-text);
  color: var(--background);
}

h5 {
  text-decoration: underline;
}
h2 {
  font-weight: bolder;
}

#game-cover-art {
  border: 3px solid var(--mid-text);
  border-radius: 5px;
}

#user-card {
  background-color: var(--mid-text);
}
